#woovina-copyright {
	display: none !important;
}

#footer-widgets .footer-box .widget-title {
	color: #ffdf2b !important;
}

.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.woo-wishlist-link span.wishlist_products_counter_number,
.woo-menu-icon .wcmenucart .wcmenucart-count .count {
	background-color: #004aad !important;
}

.wcmenucart-toggle-drop_down::before {
	border-bottom: 5px solid #004aad;
}

body .theme-button,
body input[type="submit"],
body button[type="submit"],
body button,
body .button {
	background-color: #ffffff;
	border-color: #004aad;
}

.yith-woocompare-widget a.compare {
	color: #004aad;
	border-color: #004aad;
}

.yith-woocompare-widget a.compare:hover {
	background-color: #004aad;
}

.page-header .page-header-title {
	color: #004aad !important;
}

.page-header .page-header-title:after,
.page-header .page-header-title:before {
	border-color: #004aad;
}

.site-footer #footer-bottom .container ul .copyright > a {
	color: #ffdf2b !important;
}

#footer-bottom a,
#footer-bottom #footer-bottom-menu a {
	color: #ffdf2b !important;
}

.site-footer .footer-box .footer-widget > ul > li > a:hover::before,
.site-footer .footer-box .widget-woovina-contact-info .contact-info-widget > li > i::before {
	color: #ffdf2b !important;
}

.site-footer .footer-box .validate .button:hover {
	background-color: #004aad !important;
}

.row-tabs-product
	.tabs-product
	.elementor-widget-container
	.elementor-tabs
	.elementor-tabs-wrapper
	.elementor-tab-title
	.title-top-bar::after {
	color: #004aad !important;
}

.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:hover:before {
	color: #fff;
	margin: 0;
}

.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:before {
	color: #434343;
	margin: 0;
}

.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:hover {
	background: #004aad;
}

.btn-inner .tooltip {
	background-color: #004aad !important;
}

.woocommerce .products .product .price .amount {
	color: #004aad !important;
}

.entry-summary form.cart .single_add_to_cart_button {
	border-color: #004aad !important;
}

.btn-single-page .btn-inner a:hover {
	color: #004aad !important;
}

#footer-widgets .footer-box a:hover,
#footer-widgets a:hover {
	color: #ffdf2b !important;
}

.site-main .container .sidebar-container .custom-menu-widget .woovina-custom-menu .sf-menu .menu-item:hover > a,
.site-main .container .sidebar-container .widget_product_categories .product-categories .cat-item:hover > a {
	color: #004aad !important;
}

#top-bar-content a:hover,
#top-bar-social-alt a:hover {
	color: #fff !important;
}

div#sidr div.sidr-inner ul.sidr-class-mobile-menu li.sidr-class-current-menu-item > a {
	color: #004aad !important;
}

#mobile-navbar.navigation ul li.current-menu-item a {
	color: #004aad !important;
}

@media screen and (max-width: 767px) {
	#mobile-navbar.navigation ul li a:hover {
		color: #004aad !important;
	}
}

@media only screen and (max-width: 959px) {
	body.has-breadcrumbs .page-header-title {
		margin-bottom: 0;
	}

	.site-main .page-header {
		padding: 12px 0;
	}
}

.wpforms-form .wpforms-submit-container button[type="submit"].sub-form:hover {
	background-color: #004aad !important;
}

#footer-widgets .woovina-newsletter-form-wrap input[type="email"]:focus {
	border-color: #004aad !important;
}

.wpforms-form .wpforms-submit-container button[type="submit"].sub-form:hover {
	background-color: #004aad !important;
}

@media (max-width: 767px) {
	body.woocommerce div.product .woocommerce-tabs ul.tabs li.active > a {
		background: #004aad !important;
	}
}

.entry-summary .cart .added_to_cart.wc-forward {
	border-color: #004aad !important;
	color: #004aad !important;
}

.widget_shopping_cart_content .buttons .checkout {
	background-color: #004aad !important;
}

@media only screen and (max-width: 959px) {
	#main #content-wrap.container {
		width: auto !important;
		padding-top: 15px !important;
	}

	#site-logo #site-logo-inner {
		background: url(../img/logo-mobile.png) no-repeat 0 3px;
		background-size: contain;
		width: 200px;
	}

	#site-logo #site-logo-inner,
	.woovina-social-menu .social-menu-inner,
	#site-header.full_screen-header .menu-bar-inner,
	.after-header-content .after-header-content-inner {
		height: 65px !important;
	}

	#site-navigation-wrap .dropdown-menu > li.search-toggle-li {
		line-height: 65px !important;
	}

	#site-navigation-wrap .dropdown-menu > li > a,
	.woovina-mobile-menu-icon a,
	.after-header-content-inner > a {
		line-height: 65px !important;
	}

	#site-logo #site-logo-inner a img {
		display: none;
	}

	#top-bar {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.sidr-class-mobile-searchform .sidr-class-searchform-submit:hover {
		color: #004aad !important;
	}
}

.product_meta span.sku_wrapper {
	font-size: 11px;
}

.woocommerce div.product form.cart .variations .reset_variations {
	border: 0;
	margin-top: 0;
}